// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h2 {
	font-family: Times, serif;
	font-weight:bold;
	color:#00FF00;
}
p{
	font-family:Times;
	color: gray;
}
#form{background: white; 
border: solid 3px #ddd;
margin: 0 auto;
width: 300px;
position:relative;
}
.back-button{text-align: center;}