<nav>   
</nav>
<p>
<%= link_to 'Shouts', shouts_path %>
<%= link_to 'Users', users_path %>
<%= link_to 'Follows', follows_path %>
<%= link_to 'Log Out', '/sessions/destroy', {:method=>:delete} if logged_in? %>
</p>
